<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>Margolly</title>
    <meta name="description" content="Margolly Consulting - Experts in FDA Pharmaceutical Applications">
    <meta name="keywords" content="FDA Pharmaceutical Compliance Regulations">
    <meta name="author" content="Fatima Software">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/wireframe.css">
</head>

<body class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="index"><i class="fa d-inline fa-lg fa-tablets"></i></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="faq">FAQ</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                </ul> <a class="btn btn-outline-light navbar-btn ml-md-2" href="contact">Contact us</a>
            </div>
        </div>
    </nav>

    <div class="py-5 bg-primary">
        <div class="container">
            <div class="row">
            <div class="p-4 col-lg-8">
                <h4 class="mb-3 text-white">Frequently Asked Questions</h4>
                <div class="blockquote text-muted">
                    <p class="mb-0" >Content</p>
                    <div class="blockquote-footer">Pharmaceutical Application Experts</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
